body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(to bottom right, #521a1a, #1f2f4d);
  }
  
  .title {
    position: absolute;
    top: 20%;
    left: 20%;
    font-size: 3vw;
    color: #fff;
  }
  
  .subtitle {
    position: absolute;
    top: 20%;
    left: 20%;
    font-size: 1vw;
    color: #fff;
    transform: translate(20%, 400%);
  }
  
  .navigation {
    position: absolute;
    top: 40%;
    right: 20%;
  }
  
  .navigation ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  .navigation ul li {
    margin: 0 1vw;
  }
  
  .navigation ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2vw;
  }
  
  .navigation ul li a:hover {
    color: #ffa500;
  }
  
  .roomba {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    background-color: #ccc;
    border-radius: 50%;
    animation: roam 5s infinite linear;
  }
  
  @keyframes roam {
    0% {
      transform: translate(-50%, -50%);
    }
    25% {
      transform: translate(10%, -50%);
    }
    50% {
      transform: translate(10%, 10%);
    }
    75% {
      transform: translate(-50%, 10%);
    }
    100% {
      transform: translate(-50%, -50%);
    }
  }
  